<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
				<key>dateExpires</key>
				<string>01/03/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
						<key>dateExpires</key>
						<string>01/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5PU4F25TM3</string>
						<key>name</key>
						<string>ARKADA TEKH, OOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
						<key>dateExpires</key>
						<string>01/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorGeolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5PU4F25TM3</string>
						<key>name</key>
						<string>ARKADA TEKH, OOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
						<key>dateExpires</key>
						<string>01/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5PU4F25TM3</string>
						<key>name</key>
						<string>ARKADA TEKH, OOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
						<key>dateExpires</key>
						<string>01/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5PU4F25TM3</string>
						<key>name</key>
						<string>ARKADA TEKH, OOO</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B3299365887961DC59878E72C9593EC53CFF2175</string>
						<key>dateExpires</key>
						<string>01/03/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5PU4F25TM3</string>
						<key>name</key>
						<string>ARKADA TEKH, OOO</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5PU4F25TM3.ru.carsherenta.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5PU4F25TM3</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>5PU4F25TM3.ru.carsherenta.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>84be6e8d-0a20-49d1-97fe-ec26dba2138b</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ru.carsherenta.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5PU4F25TM3</string>
				<key>name</key>
				<string>ARKADA TEKH, OOO</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
